:root {
    --cor-primaria: #CBB9AB;    
    --cor-secundaria: #856349;
    --cor-texto: #1d0d00;       
    --cor-efeitos: #888C7B; 
    --cor-classica: #f8e9de; 
  }
  @font-face {
    font-family: primaria;
    src: url(/Cinzel-Regular.otf);
  }
  
body{
    margin: 0;
    padding: 0;

}
#barra-inicial{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
}
nav{
    width: 80%;
    height: 10vh;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 0 5%;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-imagem{
width: 40%;
height: 100%;
background-image: url(/imagens-cafeteria/logo-png.png);
background-size: cover;
background-position: 5px;
}
.logo-name{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    font-size: 14px;
    font-family:'primaria','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caixa-pesquisa{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa-caixa-geral{
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px;
    background-color: var(--cor-classica);
}
.pesquisa{
    width: 80%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    outline: none;
}
.pesquisa-caixa-geral img{
    filter: invert(5%) sepia(40%) saturate(6194%) hue-rotate(43deg) brightness(101%) contrast(106%);
}
.icones{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amei{
    width: 40px;
    height: 40px;
    margin-left: 10%;
}
.amei img{
    filter: invert(5%) sepia(40%) saturate(6194%) hue-rotate(43deg) brightness(101%) contrast(106%);
}
.carinho{
    width: 40px;
    height: 40px;
    margin-left: 10%;
}
.carinho img{
    filter: invert(5%) sepia(40%) saturate(6194%) hue-rotate(43deg) brightness(101%) contrast(106%);
}
.navbar-links{
    width: 40px;
    height: 40px;
    margin-left: 10%;
    justify-content: center;
}
.navbar-links img{
    filter: invert(5%) sepia(40%) saturate(6194%) hue-rotate(43deg) brightness(101%) contrast(106%);
}

#home{
    width: 80%;
    padding: 0 10%;
    height: 90vh;
    background: rgb(29,13,0);
background: linear-gradient(0deg, rgba(29,13,0,1) 0%, rgba(133,99,73,1) 100%);
position: relative;
}
.name-barra-lateral{
    font-family:'primaria','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: var(--cor-texto);
}
hr{
  height: 1px;
   background-color: var(--cor-texto);
}
.links-lateral{
  position: absolute;
  right: 0;
    width: 20%;
    height: 100%;
  background-color: var(--cor-primaria);
}
.links-lateral  li a{
    font-size: 20px;
    color: var(--cor-texto);
    text-decoration: none;
    font-family:'primaria','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 20px;
  transition: 1.0s;
}
.links-lateral li a:hover{
    background-color: var(--cor-secundaria);
}
.links-lateral li{
    margin-top: 10px;
    margin-bottom: 70px;
    list-style: none;
}
.caixa-imagem-lateral{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.imagem-lateral{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--cor-efeitos);
}
